@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --primary-bg: #07051a;
    /*Azul Marinho escuro, para o fundo principal*/
    --secondary-bg: #151236;
    /*Tom de roxo, para contraste entre seções*/
    --main-text: #e2e8f0;
    /*Branco acinzentado, para uma leitura mais confortável*/
    --btn: #00e5ff;
    /*Ciano, para botões, links ou textos*/
    --gradiente: #b026ff;
    /*Magenta, para contrastar o ciano*/
}

body {
    background-color: var(--primary-bg);
    color: var(--main-text);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.menu-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: var(--main-text);
}

a:hover {
    color: var(--btn);
}

.logo {
    font-size: 28px;
}

#Sobre {
    padding: 100px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin: 0 80px;

    line-height:1.6;

    .txt {
        max-width: 600px;
    }

    h1 {
        font-size: 42px;
    }

    h1 span {
        color: var(--gradiente);
    }

    .btn {
        background-color: var(--btn);
        color: var(--primary-bg);
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: var(--gradiente);
        color: var(--main-text);
    }

    img {
        max-width: 400px;
        width: 100%;
        border-radius: 50%;
        box-shadow: #b026ff 0px 0px 20px;
    }
}

@keyframes flutuar{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.foto {
    animation: flutuar 4s ease-in-out infinite;
}